.main{
    background-image: url(https://st3.depositphotos.com/10325396/19583/i/450/depositphotos_195839368-stock-photo-programming-code-abstract-technology-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 75px 0px;
}
.form-box{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    border: 1px solid white;
    border-radius: 20px ;
}
.form-box input{
    border-radius: 10px;
}
.form-box input:focus{
    box-shadow: 0 0 0;
    border: 1px solid red;
}
.form-box select{
border-radius: 10px;
}
.form-box select:focus{
    box-shadow: 0 0 0;
    border: 1px solid red;
    }
.input-group-text{
    border-radius: 0px 10px 10px 0px;
}
.register-btn {
    background-image: linear-gradient(to right, #63118b, #f80f88, #f80f88);
   border: none;
   border-radius: 10px;
   color: white;
}
.link {
    text-decoration: none;
    color: #63118b;
}
.link:hover{
    color: #f80f88;
}
.text h1{
    font-size: 60px;
}
@media screen and (max-width: 992px) {
    .text{
        margin-bottom: 40px;
    }
    
}

@media screen and (max-width: 767px){
    .form-box{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .text h1{
        font-size: 33px;
    }
    .text h2{
        font-size: 20px;
    }

    
}
